* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --cor-00: #29292E; 
  --cor-01: #333;
  --cor-02: #1b1b1b; 
  --cor-03: #0c51a7; 
  --cor-04: #d9d9d9;
  --cor-05: #e1624f;
  --cor-06: #591B98;
  --cor-07: #E5245E;
  --cor-08: #E95E10;
  --cor-09: #F5F4F0;
}

body {
  background-color: var(--cor-00);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#page {
  background-color: var(--cor-09);
  padding: 88px 80px 48px 80px;
  display: flex;
  flex-direction: column;
  gap: 65px;
  width: 1280px;
  max-width: 100%; 
  height: auto;
}

h1, h2, h3 {
  color: var(--cor-02);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: normal;
}

h1 { 
  font-size: 36px;
  font-weight: 700;
}

h2 {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  margin: 20px 0 4px 0;
  text-indent: 0.4em;
  font-size: 28px;
  font-weight: 700;
}

.subtitulo-headline,
.good-for,
.inline-item,
.custom-list,
.personalizacao-paragrafo {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitulo-headline {
  color: var(--cor-05);
  text-transform: uppercase;
  margin-bottom: 22px;
}

.inline-item {
  color: var(--cor-03);
  display: block;
}

.personalizacao-paragrafo{
  margin-top: 4px;
  color: var(--cor-01);
  font-weight: 400;
}

.purple-item {
  color: var(--cor-06);
}

.pink-item {
  color: var(--cor-07);
}

.orange-item {
  color: var(--cor-08);
}

img {
  border-radius: 28px;
  width: 100%;
}

#destinations .img1 {
  margin-top: 64px;
}

#destinations .img2 {
  margin-top: 48px;
}

#destinations .img3 {
  margin-top: 48px;
}


section + section {
  margin-top: 64px;
}

#about {
  margin: 0 0 40px 0;
}

#about img {
  margin: 0 0 24px 0;
}

#about p {
  color: var(--cor-01);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

#destinations {
  margin: 40px 0;
}

.divisor1 {
  margin: 40px 0 64px 0;
}

.divisor2 {
  margin: 40px 0 40px 0;
}

footer {
  text-align: center;
  gap: 65px;
  margin-bottom: 48px;
}

footer svg {
  vertical-align: middle;
}